html,
body {
  padding: 0;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
  font-family:Necto-Mono;
  font-size: 10pt;
  margin:auto;
  background: white;
}

.wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

@font-face {
  font-family: "Necto-Mono";
  src: url("../public/fonts/Necto-Mono.woff2") format("woff2"),
       url("../public/fonts/Necto-Mono.woff") format("woff");
}

@font-face {
  font-family: "Porpora-Regular";
  src: url("../public/fonts/Porpora-Regular.woff2") format("woff2"),
       url("../public/fonts/Porpora-Regular.woff") format("woff");
}

h3 {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    
}

.title {
  font-weight: 900;
}

a {
  color: inherit;
  text-decoration: none;
  
}

video {
  /* object-fit: contain; */
}



* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.contentWrapper {
  width: 100%;
  margin:auto;
  background-color: white;
  padding-bottom: 50px;
  

}

.contentContainer {
  max-width: 75%;
  margin:auto;
  

}

.menuStuffContainer {
  max-width: 75%;
  padding-top:100px;
  margin:auto;
  touch-action: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap:20px
  

}

.menuLink{
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

.menuLink :hover{
  background-color: black;
  color:magenta;
}



.hereLink {
  text-decoration: underline;
  text-decoration-thickness: 2px;
}




a:hover {
  background-color: magenta;
}
/* dropdown styles*/

.dropdownContainer {
  padding-top: 0px;
  padding-bottom: 10px;
  padding-left: 9px;
  cursor:pointer;
  
}

.dropdownButton {
  display: flex;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  cursor:pointer;
}

.downArrow{
  margin-left: 7px;
}

.dropdownButton :hover {

  cursor:pointer;
  

}
.dropdownContent {
  height:0px;
  overflow:hidden;
  z-index: -200;
  opacity: 0;
  background-color:transparent;

}


.dropdownItem {
  padding: 10px;
  flex-direction: row;
  background-color: magenta;
  border:black;
  border-style:solid;
  border-color: transparent;
}

.dropdownButton:hover{
  background-color: mediumorchid;


}

.dropdownItem:hover{
  background-color: mediumorchid;
  border-width: 3px;
}


/* showcase styles*/

.showcaseContainer {
  margin-top:50px;
  display: grid;
  grid-template-columns: minmax(300px, 400px) minmax(300px, 400px) minmax(300px, 400px);
  gap: 20px;
  
  /* opacity: 0; */
}




.showcasePaintingContainer :hover{
  cursor: pointer;
  

}

.showcasePaintingContainerDescription{
  border: 2px solid black;
  padding: 20px;
  height: 75px;
  margin-top: -10px;
}

/*header styles*/

.headerContainer{
  position: sticky; 
  top: 0;
  background-color: white;
  z-index: 200;


}

.headerContent{
  display:flex;
  max-width: 75%;
  flex-direction: row;
  padding:0px;
  margin:auto;
  justify-content: space-between;
  align-content: center;
  position:relative;
  z-index: 12;
  padding-top: 10px;
  padding-bottom: 10px;


}

.introContainer{
  padding:0px;
  padding-top:30px;
  font-size: 20px;
  font-weight: 700;
  display: flex;
  flex-direction: row;
}


.paintingPageContainer{
  opacity: 0;

}

.paintingContainer{
  display:grid;
  gap:20px;
  grid-template-columns: 1fr 1fr;
  padding-top: 20px;
}

.paintingDescriptionContainer{
}

.projectsContainer {
  margin-top:40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  opacity:1;

}

.projectCoverDescription {
  border: 2px solid black;
  padding: 20px;
  height: 300px;
  margin-top: -10px;
}


.captionContainer {
  border: 2px solid black;
  padding: 10px;
  height: auto;
  margin-top: -10px;
}

.h2Description {
  border: 2px solid black;
  padding: 20px;
  height: auto;
  margin-top: 20px;
}

.projectCover{
cursor:pointer;
}

.saturnVCover{
}

.width100{
  width:100%;
}

.saturnVCoverVideo {


  width: 100%; 
  height: auto; 
  z-index: -100;
  overflow: hidden;
  object-fit:cover;

}

.footerContainer{
  background-color: black;
  padding-bottom: 50px;

  padding-top: 50px;
  color: white;


}

.site-footer {
  background: black;
}


.publicBallotContainer{
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
  opacity:1;

}

.projectDetailsContainer{
  border: 2px solid black;
  padding: 20px;
}

.expandMenuButton:hover {

  background-color: magenta;
  cursor: pointer;

}



/* other projects */

.otherProjects{
  display:grid;
  grid-template-columns: 1fr 1fr;
  gap:20px;
  
}

.otherProjects :hover {
  /* border: 2px solid black;
  padding: 20px; */
  cursor:pointer;
}

/*SaturnSlides*/


.saturnSlides {
  display:grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.saturnSlide3 {
  grid-column: 1/3;
}
.saturnSlide4 {
  grid-column: 1/3;
}
.saturnSlide5 {
  grid-column: 1/3;
}
.saturnSlide6 {
  grid-column: 1/3;
}
.saturnSlide7 {
  grid-column: 1/3;
}



.circlesSlides {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}



.menuContainer{

  background-color: magenta;
  display:none;
  height:0px;
  overflow: hidden;
  
  width:100%;
  opacity:100%;
  position:absolute;
  z-index: 10;

}


.cornerAvatarHolder{
  width:50px;
  height:50px;
}

.spinningHeadContainer{
  width:100%;
  height:90vh;
}




/* width */


::-webkit-scrollbar {
  -webkit-appearance: none;
}

::-webkit-scrollbar:vertical {
  width: 10px;
}

::-webkit-scrollbar:horizontal {
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: magenta !important; ;
  border-radius: 0px !important; ;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: black !important; ; 
  border-radius: 0px !important; ;
}

@media only screen and (max-width: 1200px) {
  .showcaseContainer {
    margin-top:50px;
    display: grid;
    grid-template-columns: minmax(300px, 400px) minmax(300px, 400px);
    gap: 20px;
    /* opacity: 0; */
  }
  .projectsContainer {
    margin-top:40px;
    display: grid;
    grid-template-columns: minmax(300px, 400px) minmax(300px, 400px);
    gap: 20px;
    opacity:1;
  
  }

  .publicBallotContainer{
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    opacity:1;
  
  }

  .circlesSlides {

    grid-template-columns: 1fr 1fr;

  }


}


@media only screen and (max-width: 800px) {
  .introContainer {
    font-size: 14px;

    flex-direction: column;
  }

  .otherProjects{
    grid-template-columns:  1fr;

    
  }

  .dropdownContainer {

    padding-left: 0px;
    
  }

  .projectsContainer {
    margin-top:40px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    opacity:1;
  
  }
  .showcaseContainer {
    margin-top:50px;
    display: grid;
    grid-template-columns: minmax(300px, 400px);
    gap: 20px;
    /* opacity: 0; */
  }

  .menuStuffContainer {
    max-width: 80%;
    padding-top:100px;
    margin:auto;
    touch-action: none;
    display: grid;
    grid-template-columns: 1fr;
    gap:20px
    
  
  }

  .spinningHeadContainer{
  }

  .contentContainer {
    max-width: 80%;
  }

  .headerContent{
    max-width: 80%;
  }

  .saturnSlide1 {
    grid-column: 1/3;
  }
  .saturnSlide2 {
    grid-column: 1/3;
  }

  .circlesSlides {

    grid-template-columns: 1fr;

  }

  .paintingContainer{
    display:grid;
    gap:20px;
    grid-template-columns: 1fr;
    padding-top: 20px;


  }


  .menuWordsContainer h1{
    margin-top: -15px;
    font-size: 15px;
  }
  
  .spinningHeadContainer{
    width:100%;
    height:27vh;
  }
}



